# Node modules
node_modules/

# Environment files
.env

# Hardhat build folders
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# Coverage files
/coverage
/coverage.json

# Ignition folder for deployments
ignition/deployments/chain-31337

# Hardhat's default directory for log files
/hardhat-log.json

# VSCode settings
.vscode/

# Operating System files (macOS, Windows)
.DS_Store
Thumbs.db

# Log files
*.log

# Otros archivos temporales
*.tmp
